*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
.nav{
  position: fixed;
  top: 0;
  max-width: 1920px;
  width: 100%;
  background-color:#835FCC ;
  height: 80px;
  display: flex;
  box-shadow: 0 10px 20px rgba(0,0,0,0.25);
}
.nav__wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 210px;
}
.menu__btn {
  display: none;
  width: 30px;
  height: 30px;
  position: relative;
  z-index:2;
  overflow: hidden;
}
.menu__btn span {
  width: 30px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  transition: all 0.5s;
}
.menu__btn span:nth-of-type(2) {
  top: calc(50% - 5px);
}
.menu__btn span:nth-of-type(3) {
  top: calc(50% + 5px);
}
.menu__btn.transform span:nth-of-type(1) {
  display: none;
}
.menu__btn.transform span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}
.menu__btn.transform span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}

.indent{
  margin: 0 210px;
}

.nav__item{
  font-weight:500;
  font-size:25px;
  color: #FFFFFF;
  cursor: pointer;
  text-decoration: none;
}
.header{
  margin-top: 255px !important;
  display: flex;
}
.header__title{
  margin-top: 29px;
  color: #825FCC;
  font-size: 60px;
  font-weight: 700;
}
.header__description{
  margin-top:55px;
  font-size: 25px;
  font-weight: 500;
  color: #7A7575;
}
.header__list{
  margin-left: 10px;
  font-size: 25px;
  font-weight: 500;
  color: #7A7575;
}


.header__btn{
  display: block;
  border-radius:15px;
  font-size:25px;
  font-weight: 600;
  color: #FFFFFF;
  background-color: #825FCC;
  border:none;
  margin-top: 89px;
  max-width : 325px;
  min-height: 79px;
  cursor: pointer;
}
.header__btn,.cart__footer__btn{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.whyMe,.portfolio{
  max-width: 1920px;
  min-height: 1345px;
  margin-top: 228px;
  background-image: url("assets/wave.svg");
  /*background-size: 2000px 1300px;*/
  background-repeat: no-repeat;
  /*animation:anim 30s ease infinite;*/
}
/*@keyframes anim {*/
/* from{*/
/*   background-size-x: 0px;*/
/* }*/
/*  to{*/
/*    background-size-x: 2000px;*/
/*  }*/
/*}*/
.whyMe__title,.portfolio__title,.form__title{
  font-size: 50px;
  font-weight: 700;
  color:#FFFFFF;
}

.whyMe__header,.portfolio__header{
  display: flex;
  height: 250px;
  justify-content: center;
  align-items: end;
}
.whyMe__carts{

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 43px;
  grid-row-gap: 54px;
  margin-top: 85px;
}
.hidden{
  overflow: hidden;
}
.whyMe__arrow,.services__arrow{
  display: none;
}

.whyMe__cart{
  min-height: 385px;
  min-width: 472px;
  background: #FFFFFF;
  box-shadow: 2px 8px 40px rgba(34, 34, 34, 0.39);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 41px 0;
  text-align: center;
}
.whyMe__icon{
  width: 93px;
  height: 93px;
}
.whyMe__cart__title{
  margin-top: 20px;
  color: #825FCC;
  font-size: 33px;
  font-weight: 700;
}
.whyMe__cart__description{
  margin: 22px 47px 0 47px;
  color: #7A7575;
  font-size: 20px;
  font-weight: 500;
}
.services__wrapper{
  display: flex;
  height: 230px;
  justify-content: center;
  align-items: end;
}
.services__title{
  color: #825FCC;
  font-size: 50px;
  font-weight: 700;
}
.services__carts{
  margin-top: 86px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 45px;
  grid-row-gap: 118px;
}
.services__cart{
  min-height: 691px;
  min-width: 471px;
  background: #FFFFFF;
  box-shadow: 2px 8px 40px rgba(222, 222, 222, 0.39);
  border-radius: 15px;
}

.indent1{
  padding: 30px 0 0 34px;
}
.first{
  background-image: url("assets/1.svg");
  background-size: cover;
}
.second{
  background-image: url("assets/2.svg");
  background-size: cover;
}
.three{
  background-image: url("assets/3.svg");
  background-size: cover;
}
.four{
  background-image: url("assets/4.svg");
  background-size: cover;
}
.five{
  background-image: url("assets/5.svg");
  background-size: cover;
}
.six{
  background-image: url("assets/6.svg");
  background-size: cover;
}
.cart__header{
  min-height: 230px;
}
.cart__header__title{
  color: #FFFFFF;
  font-weight: 700;
  font-size: 33px;
}
.cart__header__description{
  color:#FFFFFF;
  font-weight: 500;
  font-size: 20px;
  line-height: 38px;
}
.cart__main__title{
  color: #7A7575;
  font-weight: 500;
  font-size: 20px;
}
.cart__main__items{
  margin-top: 42px;
}
.cart__main__items>li{
  display: flex;
  gap: 25px;
  margin-top: 20px;
  font-size: 20px;
}
.cart__main__description{
  color: #7A7575;
  font-size: 20px;
  font-weight: 500;
}
.cart__footer{
  display: flex;
  justify-content: center;
  height: 90px;
  align-items: flex-end;
}
.indent2{
  margin-top: 43px;
}
.cart__footer__btn{
  background:linear-gradient(white,white) padding-box,
  linear-gradient(to right,#9D81D6,#E9B5CA) border-box;
  border: 5px solid transparent;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 600;
  min-width: 193px;
  min-height: 54px;
  cursor: pointer;
  color: #A183D5;
}
.portfolio{
  display: flex;
  flex-direction: column;
}
.portfolio__main{
  margin-top: 108px!important;
  max-height: 732px;
  display: flex;
  gap: 40px;
  align-items: center;
}
.portfolio__text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.portfolio__text__title{
  text-align: center;
  color: #FFFFFF;
  font-size: 33px;
  font-weight: 700;
}
.portfolio__text__description{
  margin-top: 43px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 500;

}
.portfolio__text__btn,.form__btn{
  border-radius: 15px;
  background: #FFFFFF;
  color: #825FCC;
  height: 79px;
  width: 325px;
  font-size: 25px;
  border: none;
  cursor: pointer;
}
.portfolio__carousel{
  display:flex;
  gap: 67px;
}

.portfolio__footer{
  margin-top: 96px;
  display: flex;
  justify-content: center;
}
.dot{
  cursor: pointer;
  width: 13px;
  height: 13px;
  margin: 0 6px;
  border-radius: 50%;
  display: inline-block;
  background-color: #bbb;
  transition: background-color 0.6s ease;
}
.dot:hover,.active{
  background-color:#717171
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 229px !important;
  height: 775px;
  max-width:1500px;
  background: radial-gradient(138.39% 433.8% at 115.8% -27.29%, #FBB1B9 8.19%, #8662CC 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  border-radius: 40px;
}
.form__header{


}
.form__title{
  margin-top: 90px;
}
.indent3{
  margin: 76px 0
}
.form__main {
  width: 75%;
  display: flex;
  justify-content: space-between;
}
.form__contact__title,.form__contact__description,.form__contact__info{
  color:#FFFFFF;
}
.form__contact__title{
  font-size: 30px;
  font-weight: 700;
}
.form__contact__description{
  margin-top:35px ;
  font-size: 25px;
  font-weight: 700;
}
.form__contact__info{
  margin-top: 13px;
  font-size: 20px;
  font-weight: 500;
}
.form__social{
  display: flex;
  gap: 22px;
  margin-top: 200px;
}
.form__inputs{
  min-width: 612px;
}
.form__input{
  display: flex;
  width: 100%;
}
.form__input{
  background: transparent;
  border: none;
  border-bottom: 3px solid #ffffff;
  height: 50px;
  padding-bottom: 20px;
}
.indent4{
  margin-top:55px ;
}
.form__input::placeholder,.form__input{
  color: #ffffff;
  font-size: 25px;
  font-weight: 700;
}
.form__footer{
  display: flex;
  justify-content: flex-end;
  margin-top: 125px;
}
.footer{
  margin-top: 146px;
  height: 100px;
  background: #835FCC;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}
.footer__main{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 205px;
}
.footer__description{
  color: #FFFFFF;
  font-weight: 300;
  font-size: 25px;
  line-height: 30px;
}
.footer__social{
  display: flex;
  gap: 45px;
}


:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}
::-webkit-scrollbar {
  visibility: hidden;
  width: 0;
}

@media (max-width:1910px ) {
  .whyMe__carts{
    display: flex;
    overflow-x: scroll;
    margin-top: 160px;
  }
  .whyMe__arrow,.services__arrow{
    display: block;
  }
  .whyMe__main,.services__main{
    display: flex;
    align-items: center;
    gap:50px;
  }
  .whyMe__cart{
    min-width: 672px;
    min-height: 572px;
  }
  .whyMe__cart__description{
    font-size: 40px;
  }
  .whyMe__cart__title{
    font-size: 55px;
  }
  .whyMe__icon{
    width: 123px;
    height: 123px;
  }
  .header__title,.services__title,.whyMe__title,.portfolio__title{
    font-size: 90px;
  }
  .header__description,.header__list,.header__btn{
    font-size: 50px;
  }
  .header__btn{
    min-width: 25%;
  }
  .services__cart{
    min-width: 707px;
  }
  .first,.second,.three,.four,.five,.six{
    min-height: 330px;
  }
  .cart__header__title{
    font-size: 60px;
  }
  .cart__header__description,.cart__main__title,.cart__main__description,.cart__footer__btn{
    font-size: 36px;
  }
  .checkMark{
    width: 36px;
  }
  .cart__footer__btn{
    min-height: 80px;
    min-width: 320px;
  }
  .cart__header__text{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media (max-width: 1315px) {
  .nav__wrapper,.footer__main{
    padding: 0 105px;
  }
  .indent{
    margin: 0 105px;
  }
  .img__header{
    width: 400px;
  }
  .nav__list.open{
    margin-right: 105px !important;
  }
  .portfolio__main{
    gap: 18px;
  }


}
@media (max-width: 1000px) {
  .nav__wrapper{
    padding: 0 52px;
  }
  .indent{
    margin: 0 52px;
  }
  .nav__list.open{
    margin-right: 52px !important;
  }
}
@media (max-width:845px){
  .indent{
    margin:0 20px;
  }
  .nav__wrapper{
    padding: 0 20px;
  }
  .nav__list.open{
    margin-right: 20px !important;
  }
}
@media (max-width:845px){
  .services__wrapper{
    text-align: center;
  }
  .portfolio__main{
    gap: 15px!important;
  }

}



@media(max-width: 1315px){
  .nav__list{
    position: fixed;
    top: 0;
    width: 25%;
    padding: 15px;
    background: #E9B5CA;
    transform: rotateX(90deg);
  }
  .nav__list.open {
    display: flex;
    position: absolute;
    right: 0;
    flex-direction: column;
    align-items: center;
    margin: 80px 210px 0 0;
    gap:15px;
    border-radius: 20px;
    transform: rotateX(0);
    transition: transform 0.5s ease;
  }
  .menu__btn{
    display:block
  }
  .nav__wrapper{
    justify-content: space-between;
    gap:0;
  }
}
@media (max-width: 1910px) {
  .header{
    flex-direction: column-reverse;
    align-items: center;
  }
  .header__text{
    display: flex;
    flex-direction: column;
  }
}
/*@media (max-width:1050px){*/
/*  .whyMe__cart{*/
/*    min-width: 640px;*/
/*  }*/
/*}*/
@media (max-width:1910px) {
  .services__carts{
    display: flex;
    overflow-x: scroll;
    margin-top: 180px;
  }
}
@media(max-width:1725px ) {
  .img__portfolio{
    height: 300px;
  }
  .portfolio__main{
    justify-content: center;
  }
  .portfolio__text__title{
    font-size: 43px;
    text-align: center;
  }
  .portfolio__text__description{
    font-size: 30px;
    max-height: 305px;
    overflow: hidden;
  }
  .portfolio__carousel{
    align-items: center;
    flex-direction: column;

  }
  .portfolio__text__btn{
    margin-top: 50px;
  }
  .portfolio__footer{
    margin-top: 110px;
  }
  .portfolio__text{
  }
}
@media(max-width:1725px ) {
  .form__main {
    flex-direction: column-reverse;
    align-items: center;
  }

  .form__footer {
    margin-top: 62px;
  }

  .form__contact {
    width: 100%;
  }
  .form__contact__text {
    display: flex;
    justify-content: space-between;
  }
  .form__social{
    margin-top: 0;
  }
  .form__contact__header {
    text-align: center;
    margin-top: 15px;
  }
  .form__footer{
    margin-top: 31px;
  }
}
@media(max-width:1050px){
  .form__inputs{
    min-width: 0;
  }
}
@media (max-width:845px) {
  .portfolio__main{
    min-width: 560px;
  }

}
@media (max-width:845px) {
  .services__cart{
    min-width: 600px;
  }
}
@media (max-width:800px){
  .whyMe__cart{
    min-width: 600px;
  }
  .whyMe__carts,.services__carts{
    margin-top: 130px;
  }
  .whyMe__main, .services__main{
    gap: 20px;
  }
  .header__title, .services__title, .whyMe__title, .portfolio__title,.form__title{
    font-size: 40px;
  }
  .header__description, .header__list, .header__btn,.portfolio__text__title{
    font-size: 25px;
  }
  .whyMe__cart__title,.cart__header__title,.whyMe__cart__description,.cart__header__title{
    font-size: 25px;
  }
  .cart__header__description, .cart__main__title, .cart__main__description, .cart__footer__btn,.portfolio__text__description,.form__contact__title,.form__contact__description{
    font-size: 18px;
  }
  .cart__footer__btn{
    min-height: 60px
  ;min-width: 200px;
  }
  .form__input::placeholder, .form__input,.portfolio__text__btn, .form__btn,.footer__description{
    font-size: 15px;
  }
  .portfolio__text__btn, .form__btn{
    width:200px;
    height:50px
  }
  .checkMark{
    width:18px
  }
  .form__social{
    display: none;
  }
  .footer__social{
    gap: 23px;
  }
  .form__contact__header{
    margin-top: 40px;
  }
  .indent1{
    padding: 15px 0 0 15px;
  }

}
@media (max-width: 700px) {
  .whyMe__cart{
    min-width: 300px;
  }
  .services__cart{
    min-width: 300px;
  }
}
@media (max-width:799px) {
  .portfolio__main{
    min-width: 290px;
  }
}
@media (min-width: 425px){
  .form__header{
    text-align: center;
  }
}
@media (max-width: 426px){
  .form{
    min-height:860px
  }
  .form__social{
    gap: 10px;
    flex-direction: column;

  }
  .form__contact__text{
    align-items: baseline;
  }
}
@media (max-width:601px) {
  .nav__list.open{
    width:35%
  }
}
@media (max-width:430px) {
  .nav__list.open{
    width:45%
  }
}
.nav__list{
  display: flex;
  list-style-type: none;
  gap: 86px;
}
@media (max-width: 1280px) {
  .footer__main{
    padding: 0 105px;
  }
}
@media (max-width: 812px) {
  .footer__main{
    padding: 0 52px;
  }
}
@media (max-width: 600px) {
  .footer__main{
    padding: 0 20px;
  }
}
@media (max-width:426px){
  .footer__social{
    gap:15px;

  }
}




